body {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color:  #434455;
    background-color: #ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
}

.logo-vidstup{
    
}

.logo-studio {
    color: #2e2f42;
    
}

.navigator-list {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
margin-right: auto;
padding-top: 24px;
padding-bottom: 24px;
display: block;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)

}

a:hover, 
a:focus                                        
{
    color: #404BBF;
}

.adresa {
    font-style: normal;
}

.adresa-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.features {
    color: #2e2f42;
    width: 1158px; 
    padding: 0 15px; 
    margin: 120px auto;

 
}

.title-main {

font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 496px;
}

.title-main-section {
    display: flex;
    flex-direction: column ;
    align-items: center;
    gap: 48px;
        
}

.btn-title {
cursor: pointer;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
padding: 16px 32px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
font-family: "Roboto", sans-serif;  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
min-width: 169px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-title:hover,
.btn-title:focus                                            
{
    background-color: #404BBF;
}

.title-features {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.text-features {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

.titles {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;

}

.team {
   
}

.team-back {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.name-team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.about-team {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
padding-bottom: 8px;

}

.title-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
    margin-bottom: 72px; 
}

.about-portfolio {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    max-width: 264px;
    margin-bottom: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .footer-main{
    
    background-color:  #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.logo-studio-footer {
    color: #f4f4fd;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
  
   
}

.header-menu-list {
display: flex;
gap: 40px;
padding-left: 0; 
margin: 0;}





.header-social-list {
    display: flex;
    gap: 40px;
    padding-left: 0; 
margin: 0;
   
}

img {
    display: block;
      height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 0; 
margin: 0;

 
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
}

.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-left: 0; 
    margin: 0;
}

.container {
    width:1158px; 
    padding: 0 15px;
    margin: 0 auto;
}

.container-footer{
    display: flex;
    align-items: baseline;
    margin-left: 156px;
}

.our-portfolio {
    background-color: #fff;
    
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
align-items: flex-start;
justify-content: center;
padding-left: 0; 
margin: 0;

}

.portfolio-item-list {
    background: #fff;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-item-list:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);;
}

.portfolio-border {
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
}


.main-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.header-border {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.features-section{
    padding-top: 120px; 
    padding-bottom: 120px;
}

.team-section {
    padding-top: 120px; 
    padding-bottom: 120px;
    background-color: #F4F4FD;
}

.name-about-team{
    padding-top: 32px;
    padding-bottom: 32px;
}

.portfolio-section {
    padding-top: 120px; 
    padding-bottom: 120px; 
}

.logo-footer{
    font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block; 

}

.logo-footer-main{
    margin-right: 120px;
}

.section-icon-features{
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
margin-bottom: 8px;
display: flex;
justify-content: center;
align-items: center;
}

.current {
    position: relative;
    color: #404bbf;
}

.navigator-list.current::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    }

    .icons-team-social-list{
        display: flex;
        justify-content: center;
        gap: 24px;      
    }

    .ellipse{
        width: 40px;
        height: 40px;
    }

    .link-icons-team-social {
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .icons{
        fill: #f4f4fd;
    }

    .link-icons-team-social:focus{
        background-color: #404bbf;
    }

    .team-back:hover .link-icons-team-social {
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #404BBF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #fff;
    }

    .link-icons-footer-social{
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #fff;
    }

    .link-icons-footer-social:hover,
    .link-icons-footer-social:focus
    {
        width: 100%;
        height: 100%;
        color: #F4F4FD;
        background-color: #31D0AA;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #fff;
    }

   .footer-inner{
    display: flex;
   }

    .text-social-media-footer{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
    }

    .list-social-media-footer{
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }

    .social-media-footer{
        width: 208px;
    }

    .overlay-text
    {
        line-height: 1.5; 
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        position: absolute;
        top: 0;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  .portfolio-img{
    position: relative;
    overflow: hidden;
  }


.portfolio-item-list:hover .overlay-text{
    transform: translateY(0%);
}

/*-----Backdrop-----*/

.backdrop{
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    padding-top: 72px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.modal-close{
    display: flex;
    min-height: 24px;
    min-width: 24px;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    justify-content: center; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close{
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:hover .modal-icon-close
{
    background-color: #404BBF;
    fill: #fff;
    border: none;
}


.modal-close:focus,
.modal-close:focus .modal-icon-close
{
    background-color: #404bbf;
    border: none;
    fill: #fff;
}


.modal-title{
font-weight: 500;
font-size: 16px;
text-align: center;
color: #2e2f42;
min-width: 360px;
margin-bottom: 16px;
line-height: 1.5;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
    border-radius: 4px;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-label {
    display: block; 
    margin-bottom: 4px;
    font-weight: 400;
font-size: 12px;
letter-spacing: 0.04em;
color: #8e8f99;
line-height: 1.17;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-field-comment{
    margin-bottom: 16px;
}
.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}



.modal-field-wrap {
    position: relative;
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    font-weight: 400;
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus
{
    border-color: #4D5AE5; 
}

.modal-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
padding: 16px 32px;
height: 56px;
border: none;
background-color: #4D5AE5;
color:#fff;
min-width: 169px;
font-weight: 500;
line-height: 1.5 ;
letter-spacing: 0.04em;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-text {
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;

align-items: center;
}


.modal-span-icon{
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
 
    align-items: center;
    justify-content: center;
    fill:transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
    color: #4d5ae5;
}

.modal-check:checked + .modal-check-text span {
background-color: #404BBF;
border: none;
fill: #f4f4fd;
}

.footer-form {
  display: flex;
  gap: 24px;
    margin-left: 80px;
}
.footer-field-wrap {
    display: flex;
}

.footer-text-subscribe{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
   padding-left: 80px;
   margin-bottom: 16px;
}

.footer-input {
    border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
padding-left: 16px;
color:#fff;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    
}

.footer-form-btn {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
border: none;
width: 165px;
height: 40px;
padding-left: 24px;
padding-top: 8px;
padding-bottom: 8px;
background: #4d5ae5;
display: flex;
margin-left: 24px;
align-items: center;
justify-content: center;
font-family: "Roboto", sans-serif;
min-width: 165px;
cursor: pointer;
}

.footer-modal-icon {
    fill: #fff;
    margin-left: 16px;
}

.footer-email{
    gap: 24px;
}

.modal-field-policy{
    margin-bottom: 24px;
}